    <div class="container">
        <div class="header">
            <div class="img-area">
            </div>
            <h1>Karel Líčko</h1>
            <h3>Web Developer</h3>
        </div>
        <div class="main">
            <div class="left">
                <h2>Informace</h2>
                <p><strong>Name:</strong>Karel Líčko</p>
                <p><strong>Age:</strong>22</p>
                <p><strong>Email:</strong>licko.charlie@gmail.com</p>
                <p><strong>Phone:</strong>+420 627 088</p>
                <h2>Skills</h2>
                <ul>
                    <li>Html/Css</li>
                    <li>JavaScript</li>
                    <li>Node.js</li>
                    <li>Angular</li>
                    <li>Photoshop/Illustrator</li>
                    <li>MS Office</li>
                    <li>Articulate 360</li>
                </ul>
            </div>
            <div class="right">
                <h2>Work Experiences</h2>
                <p><strong>Fortbildungszentren der Bayerischen Wirtschaft (bfz) gGmbH</strong></p>
                <p><strong>Positioin:</strong> E-learning Devoloper</p>
                <p><strong>Duration:</strong> 2022-2023</p>
                <ul></ul>
            </div>
        </div>
    </div>